<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['company-overview', tickerSymbol]">Company Overview</a>
    <a mat-tab-link [routerLink]="['company-reported-income-statements', tickerSymbol]">Income Statement</a>
    <a mat-tab-link [routerLink]="['company-reported-balance-sheets', tickerSymbol]">Balance Sheet</a>
    <a mat-tab-link [routerLink]="['company-reported-cash-flows', tickerSymbol]">Cash Flow</a>
    <a mat-tab-link [routerLink]="['company-valuation', tickerSymbol]">Valuation</a>

</nav>