<p>company-valuation works!</p>

<!-- <ng-container *ngIf="(companyReportedBalanceSheets)">
    <p>{{EPS}}</p>
</ng-container> -->

<!-- {{companyReportedBalanceSheets | json}} -->

<!-- <p>{{companyReportedCashFlows | json}}</p> -->
<!-- </ng-container> -->

<p>Annual EPS {{annualEPS$ | async}}</p>

<p>TTM EPS {{ttmEPS$ | async}}</p>
<!-- <ng-container
 *ngIf =
    "(companyReportedIncomeStatements$ | async) as companyReportedIncomeStatements
    && (companyReportedBalanceSheets$ | async) as companyReportedBalanceSheets
    && (companyReportedCashFlows$ | async) as companyReportedCashFlows
    && (companyOverview$ | async) as companyOverview
    "
>
</ng-container> -->
