.cellStyle {
    padding-top: '6px';
    padding-bottom: '6px';
    min-width: '120px';
    border-color: 'black';
    border-width: 'thin';
    border-style: 'solid';
    font-size: '13px';
    font-family: 'sans-serif';
}
